<p>Hello world</p>
<form>
  <label for="ad_unit_ids">List of Ad Unit Ids</label>
  <input type="text" name="ad_unit_ids" />

  <br />
  <label for="breakpoints">List of Breakpoints</label>
  <input type="text" name="breakpoints" />

  <br />
  <label for="for_url">For URL</label>
  <input type="text" name="for_url" />
</form>